def {{ route.name }}(
        {% for field_name, field in metadata.model.fields.items() %}
        {{ field_name }}: {{ field.python_type_str }},
        {% endfor %}
        db=Depends(get_db)) -> {{ base_schema }}:
    model = {}
    {% for field_name in metadata.model.fields.keys() %}
    if {{ field_name }} is not None:
        model["{{ field_name }}"] = {{ field_name }}
    {% endfor %}
    model = {{ base_schema }}(**model)
    model = {{ name }}(**model.model_dump())
    db.add(model)
    db.commit()
    db.refresh(model)
    return model