def {{ route.name }}(ident: {{ pk_type }}, db=Depends(get_db)):
    obj = db.get({{ name }}, ident)
    {% for rea in metadata.model.relationship %}
    {% if rea.side == 'many' %}
    for assoc in obj.{{ rea.target.snake_plural_name }}:
        db.delete(assoc)
    {% elif rea.side == 'both' %}
    for assoc in obj.{{ rea.target.snake_name }}_associations:
        db.delete(assoc)
    {% endif %}
    {% endfor %}
    {% if metadata.model.relationship %}
    db.commit()
    {% endif %}
    db.delete(obj)
    db.commit()
    return {"message": "deleted"}