def {{ route.name }}(ident: {{ pk_type }},
        {% for field_name, field in metadata.model.fields.items() %}
        {{field_name}}: Optional[{{field.python_type_str}}] = None,
        {% endfor %}
        db=Depends(get_db)) -> {{ base_schema }}:
    model = db.get({{ name }}, ident)
    {% for field_name, field in metadata.model.fields.items() %}
    if {{field_name}} is not None:
        model.{{field_name}} = {{field_name}}
    {% endfor %}
    db.commit()
    db.refresh(model)
    return model