import uuid
import datetime
import enum
from typing import List

from sqlalchemy.orm import DeclarativeBase, Mapped, mapped_column, relationship
from sqlalchemy import ForeignKey
from sqlalchemy.sql import sqltypes

from .db import Base


{% for model in models %}

{% include 'models/table.jinja2' %}

{% endfor %}
