{% import 'utils.j2' as utils %}

class {{ model.name.camel }}(Base):
    __tablename__ = "{{ model.name.snake }}"

    id: Mapped[uuid.UUID] = mapped_column(sqltypes.UUID, primary_key=True)

    {% for field in model.fields %}
    {{ utils.render_table_field(field) }}
    {% endfor %}

    {%- for link in model.links %}
    {% set t = link.t1 %}
    {% set rt = link.t2 %}
    {% set l = link.m1 %}
    {% set r = link.m2 %}
    {% set r_name = r.name.snake_plural if t == 'many' else r.name.snake %}
    {% set l_name = l.name.snake_plural if rt == 'many' else l.name.snake %}
    {{ r_name }}: Mapped['{{ r.name.camel }}'] = relationship(back_populates="{{ l_name }}")
    {% if t != 'many' %}
    fk_{{ r_name }}: Mapped[uuid.UUID] = mapped_column(ForeignKey("{{ r.name.snake }}.id"), nullable={{ link.nullable }})
    {% endif %}

    {% endfor %}
