class {{ model.base_schema_name }}(BaseModel):
    """pk"""
    {% for field_name, field in model.pk.items() %}
    {{field_name}}: {{field.python_type_str}} = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}
    """fields"""
    {% for field_name, field in model.fields.items() %}
    {{field_name}}: {{field.python_type_str}} = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}

    class Config:
        from_attributes = True