{% set right = link_table.right %}
{% set left = link_table.left %}
{% set model = link_table.data_model %}
class LinkTable{{ link_table.left.name }}To{{ link_table.right.name }}(BaseModel):
    {% for field_name, field in model.fields.items() %}
    {{field_name}}: {{field.python_type_str}} = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}
    {{ right.snake_name }}: "{{ right.base_schema_name }}"


class LinkTable{{ link_table.right.name }}To{{ link_table.left.name }}(BaseModel):
    {% for field_name, field in model.fields.items() %}
    {{field_name}}: {{field.python_type_str}} = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}
    {{ left.snake_name }}: "{{ left.base_schema_name }}"
