{% import 'utils.j2' as utils %}
import uuid
import datetime
from typing import List, Optional

from fastapi_toolkit.define import Schema
from pydantic import Field, UUID4
from .custom_types import  (
    {% for dep in deps %}
    {{ dep.name }}
    {% endfor %}
)


{% for model in models %}
class {{ model.name.base_schema }}(Schema):
    """pk"""
    id: UUID4 = Field(default_factory=uuid.uuid4)

    """fields"""
    {% for field in model.fields %}
    {{ utils.render_schema_field(field) }}
    {% endfor %}

class {{ model.name.schema }}({{ model.name.base_schema }}):
    """relationships"""
    {% for link in model.links %}
    {% set t = link.t1 %}
    {% set r = link.m2 %}
    {% if t == 'many' %}
    {{ r.name.snake_plural }}: List["{{ r.name.base_schema }}"]
    {% else %}
    {{ r.name.snake }}: "{{ r.name.base_schema }}"
    {% endif %}
    {% endfor %}


{% endfor %}

{% for model in models %}
{{ model.name.base_schema }}.model_rebuild()
{{ model.name.schema }}.model_rebuild()
{% endfor %}