import uuid
import datetime
from typing import List, Optional

from fastapi_toolkit.define import BaseModel
from pydantic import Field, UUID4


{% for model in models %}

{% include 'schemas/base_schema.jinja2' %}

{% endfor %}

