class UserSchema(schemas.BaseUser[uuid.UUID]):
    """fields"""
    {% for field_name, field in model.fields.items() %}
    {{field_name}}: Optional[{{field.python_type_str}}] = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}


class UserCreate(schemas.BaseUserCreate):
    """fields"""
    {% for field_name, field in model.fields.items() %}
    {{field_name}}: Optional[{{field.python_type_str}}] = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}


class UserUpdate(schemas.BaseUserUpdate):
    """fields"""
    {% for field_name, field in model.fields.items() %}
    {{field_name}}: Optional[{{field.python_type_str}}] = Field(
        {%- if field.default_str %}default={{field.default_str}},{% endif %}
        {%- if field.default_factory_str %}default_factory={{field.default_factory_str}},{% endif %}
    )
    {% endfor %}