{% for model in models %}
import app.repo.{{ model.name.snake }}_repo as {{ model.name.snake }}_repo
{% endfor %}
{#from ..schemas import {{ models | map(attribute="name.base_schema") | join(', ')}}#}
