{% for model in models %}
from .{{ model.name.snake }}_router import {{ model.name.snake }}_router
{% endfor %}

__all__ = [
    {% for model in models %}
    "{{ model.name.snake }}_router",
    {% endfor %}
]

